.work-section {
  padding-bottom: 94px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-item {
  position: relative;
  width: 370px;
}

.work-text {
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--third-color);
  background-color: var(--work-bg-color);
}
